@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700&family=Open+Sans:wght@300;600;700&display=swap');

:root {
    --branco-principal: #fff;
    --cinza-segundaria: #C0C0C0;
    --botao-azul:  #0033ff;
    --cor-fundo: #00030C;
    --cor-hover-azul:#1010b1; 

    --font-inter: 'Inter', sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 50% 50% ;

}



.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    border: 2px solid var(--botao-azul);
    padding: 15px 0;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.container__botao:hover{
    background-color: var(--cor-hover-azul);
    border:2px solid var(--cor-hover-azul)
}


.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-segundaria);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
    margin-top: 5rem;
}

.container__imagem {
    margin: 3rem 0 5rem 0;
}

.container__caixa {
    margin: 0 6rem;
}

.primario__imagem{
    width: 80%;
}

.secundario__imagem {
    width: 80%;
    margin-top: 8rem;
    
}


.secundario  {
    align-items: center;
    margin: 10rem 10rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.3rem;
}

.descricao__texto {
    color: var(--cinza-segundaria);
}

.secundario__botao{
    display: inline-block;
    padding: 15px 10px;
    margin-top: 1rem;
    
}

.container__descricao {
    padding: 2rem;
}



.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}


.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link a:hover {
    color: var(--cor-hover-azul);
}

.lista__link a:active {
    color: #898a8f;
}



.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-segundaria);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
    
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 70vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 70vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }
    
}


@media screen and (max-width: 820px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 70vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 70vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }
    
}


@media screen and (max-width: 930px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 70vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 70vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }
    
}


